canvas {
    position: absolute;
    right:4vw;
    top: 10vh;
}

table {
    border-collapse: collapse;
}

td, tr, th {
    border: 1px solid black;
    text-align: center;
}

canvas {
    width: 50vw;
    height: 85vh;
    border: solid 1px black;
}